@CHARSET "UTF-8";

div#loadingmsg
{
	margin: 10px auto;
	height: 100%;
}

div#form
{
	text-align: center;
}

/*
div#form input,
div#form textarea,
div#genusdiv,
div#genusdiv select,
div#speciesdiv,
div#speciesdiv select
{
	display: block;
	margin: 10px auto;
	width: 150px;
	vertical-align: middle;
	/*width: 100%;*/
}
*/

div#form a
{
	text-decoration: none;
	display: block;
	margin: 10px auto;
	width: 150px;
	height: 30px;
	vertical-align: middle;
	/*width: 100%;*/
}

div#form #lbllat,
div#form #lat,
div#form #lbllon,
div#form #lon,
div#form #lblsize,
div#form #size,
div#form #lblcolor,
div#form #color
{
	display:none;
}

#geolocation
{
	
}

#geomsg
{
	/*border: 1px solid #000;*/
	padding: 10px;
	/*height: 20px;*/
}
#geomsg img
{
	width: 30px;
	height: 30px;
}


#genusload, 
#speciesload
{
	display: none;
	width: 30px;
	height: 30px;
	margin: 5px;
} 

#smallImage
{
	display:none;
	max-width:150px;
	max-height:150px;
	margin: 10px auto;
}

/*
#submit
{
	width: 150px;
	height: 50px;
}
*/