@CHARSET "UTF-8";

div#loadingmsg
{
	margin: 10px auto;
	height: 100%;
}

div#form
{
	text-align: center;
}

div#genusdiv a{
	width: 20px;
/* 	float: right;*/
}

div#form a
{
	text-decoration: none;
	display: block;
	margin: 10px auto;
	width: 150px;
	height: 30px;
	vertical-align: middle;
	/*width: 100%;*/
}

div#form #geomsg
{
	display:none;
}

#geomsg
{
	padding: 10px;
}
#geomsg img
{
	width: 30px;
	height: 30px;
}

#smallImage
{
	display:none;
	max-width:90%;
	max-height:150px;
	margin: 10px auto;
}