@CHARSET "UTF-8";

#map_canvas
{
	width: 100%;
	height: 600px;
	background: #999999;
	color: #000000;
	font-size: 10pt;
}

.mark_art {
	font-weight: bold;
}

.mark_date,
.mark_dist,
.mark_comm_head {
	font-size: 8pt;
}

.suchkrit {
	color: #ffff00;
}



#swarmnews li img {
	width: 128px;
	margin: 20 px auto;
	display:block;
	/*margin: 10px 0;
	padding: 10px;
	background-color: #ddffaa;
	color: #000000;
	border: 1px solid #229922;*/
}
