<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Übersicht</title>
  </head>
  <body>
    <div id="content">
    	{% for swarm in swarmlist %}
	        <div class="swarm">
	        <h2>{{ swarm['genus'] }} {{ swarm['species'] }}</h2>
	        Datum: {{ swarm['date'] }} <br />
	        Ort: {{ swarm['position'][0] }}°, {{ swarm['position'][1] }}°<br />
	        Kommentar: {{ swarm['comment'] }}<br />
	        {% if swarm['image'] %}
		        <a href="{{url_for('static',filename='uploads/' + swarm["image"])}}">
		        	<img src="{{url_for('static',filename='uploads/' + swarm["image"])}}" />
		        </a>
	        {% endif %}     
	        </div>
    	{% endfor %}    
    </div>
  </body>
</html>