@CHARSET "UTF-8";

div#mainmenu
{
	width: 200px;
	margin: 0px auto;
	text-align: center;
}

div#mainmenu a
{
	display: block;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #000;
	font-weight: bold;
	text-decoration: none;
}

div#mainmenu a:hover
{	
	background-color: #64622c;
}