@CHARSET "UTF-8";

body{
	background-color: #292;
	padding-top: 30px;
	padding-bottom: 30px;
}

a, a:ACTIVE
{
	color: #000;
	text-decoration: none;
	border-bottom: 1px dashed #000;
}

a:hover{
	border-bottom: none;
}

div#head{
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	background-color: #dfa;
	border-bottom: 2px dashed #000;
	text-align: center;
	padding: 5px;
	margin-bottom: 100px;
	font-size: 14pt;
	font-weight: bold;
}

div#content{
	padding: 10px;
}

div#footer{
	width: 100%;
	left: 0px;
	bottom: 0px;
	position: fixed;
	background-color: #dfa;
	border-top: 2px dashed #000;
	text-align: center;
	padding: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 14pt;
	font-weight: bold;
}


div.swarm{	
	width: 400px;
	background-color: #dfa;
	margin: 15px auto;
	padding: 5px;
	/*float:left;*/
	border: 1px dashed #000;	
}

div.swarm img{
	display: block;
	max-width: 250px;
	margin: 5px auto;
}